*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-pic{
    width: 120px;
}
.menus{
    display: flex;
}
.home{
    margin-right: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.home:hover{
    color: brown;
    cursor: pointer;
    background: whitesmokel;
    padding: 10px;
}
/* this is a banner section  */
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("./media/images/background.png"), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
}
.banner-photo{
    width: 300px;
}
.banner-title{
    font-size: 55px;
    font-weight: bold;
}
.banner-info{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-primary{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}